# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo

# Node & Local Caches
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.gemini/
